@import '@angular/material/theming';

// Be sure that you only ever include 'mat-core' mixin once!
// it should not be included for each theme.
@include mat-core();

$guru-primary-palette: (
  50: #eee4e9,
  100: #d5bbc8,
  200: #ba8da3,
  300: #9e5f7e,
  400: #893d63,
  500: #741b47,
  600: #6c1840,
  700: #611437,
  800: #57102f,
  900: #440820,
  A100: #ff7aa7,
  A200: #ff4786,
  A400: #ff1464,
  A700: #fa0055,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$guru-accent-palette: (
  50: #f3e0e0,
  100: #e0b3b3,
  200: #cc8080,
  300: #b84d4d,
  400: #a82626,
  500: #990000,
  600: #910000,
  700: #860000,
  800: #7c0000,
  900: #6b0000,
  A100: #ff9a9a,
  A200: #ff6767,
  A400: #ff3434,
  A700: #ff1a1a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$guru-palette-primary: mat-palette($guru-primary-palette);
$guru-palette-accent: mat-palette($guru-accent-palette);

// $guru-theme: mat-light-theme($guru-palette-primary, $guru-palette-accent);

$guru-theme: mat-light-theme(
  (
    color: (
      primary: $guru-palette-primary,
      accent: $guru-palette-accent,
    ),
    // TODO check typography not found
    // typography: mat.define-typography-config(),
    density: 0,
  )
);

@include angular-material-theme($guru-theme);
